body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
}

.container {
  padding: 20px;
  min-height: 80vh;
}

.shopping-image {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

button:hover {
  background: gray;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

table th {
  background: #333;
  color: white;
}